@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Poppins", sans-serif;
}
:root{
    --primary:#237C9A;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #F9FAFF;
    display: flex;
    justify-content: center;
    align-items: center;
}